html,body{
	width:100%;
	height:100%;
	padding:0px;
	margin:0px;
	background-color:#FFFFFF;
	font-family:"Google PT Sans",Verdana,sans-serif;
}
div{
	padding:0px;
	margin:0px;
}
#topBar{
	width: 100%;
	height: 15%;
	background-color:A2B6BF;
}

#compositionArea{
	width:96%;
	height:78%;
	background-color:404A4E;
	padding: 2%;
}

#playback{
	height: 58%;
	padding-left:7%;
}

#songStructure{
	height: 25%;
	padding-left: 5%;
}

#instruments{
	height: 25%;
	padding-left:7%;
}

#titles{
	margin-top: 15px;
	font-size:larger;
	padding-left: 5%;
	margin-bottom: 20px;
}

#logo{
	background-image:url(../imgs/logo_dark.png);
	background-size:50px 75px;
	width:50px;
	height:75px;
	border:0px;
	margin:5px;
	margin-bottom:20px;
	cursor:pointer;
}

#first{
	width:75%;
}

#second{
	float:right;
	width: 90%
}

#third{
	float:right;
	width:25%;
}

#composition{
	width:75%;
	height:100%;
	background-color:#FFF;
	background-image:url(../imgs/CompositionBackground.png);
	overflow : auto;
}

#rhythm{
	width:23%;
	height: 100%;
	background-color:#999;
	float:right;
}

#addRhythm{
	background-color:#673E18;
	width:100%;
	height:100%;
	font-size:20px;
	color:white;
	
}

#returnButton{
	background-color:#673E18;
	width:100%;
	height:10%;
	font-size:14px;
	color:white;
	
}

#popup{
	text-align: center;
}

.note{
	display:inline-block;
	height:159px;
	width:144px;
	background: url("../imgs/note-blank.png") no-repeat;
	background-size: contain;
	cursor: pointer;
	margin: 10px 5px 5px;
}

.note.a{	background-image: url("../imgs/note-a.png");}
.note.amin{	background-image: url("../imgs/note-a-min.png"); }
.note.asus2{	background-image: url("../imgs/note-a-sus2.png"); }
.note.asus4{ background-image: url("../imgs/note-a-sus4.png"); }
.note.a7{ background-image: url("../imgs/note-a7.png"); }
.note.aM7{ background-image: url("../imgs/note-aM7.png"); }
.note.adim{ background-image: url("../imgs/note-a-dim.png");}

.note.b{background-image: url("../imgs/note-b.png");}
.note.bmin{background-image: url("../imgs/note-b-min.png");}
.note.bsus2{background-image: url("../imgs/note-b-sus2.png");}
.note.bsus4{background-image: url("../imgs/note-b-sus4.png");}
.note.b7{background-image: url("../imgs/note-b7.png");}
.note.bM7{background-image: url("../imgs/note-bM7.png");}
.note.bdim{background-image: url("../imgs/note-b-dim.png");}

.note.c{background-image: url("../imgs/note-c.png");}
.note.cmin{background-image: url("../imgs/note-c-min.png");}
.note.csus2{background-image: url("../imgs/note-c-sus2.png");}
.note.csus4{background-image: url("../imgs/note-c-sus4.png");}
.note.c7{background-image: url("../imgs/note-c7.png");}
.note.cM7{background-image: url("../imgs/note-cM7.png");}
.note.cdim{background-image: url("../imgs/note-c-dim.png");}

.note.d{background-image: url("../imgs/note-d.png");}
.note.dmin{background-image: url("../imgs/note-d-min.png");}
.note.dsus2{background-image: url("../imgs/note-d-sus2.png");}
.note.dsus4{background-image: url("../imgs/note-d-sus4.png");}
.note.d7{background-image: url("../imgs/note-d7.png");}
.note.dM7{background-image: url("../imgs/note-dM7.png");}
.note.ddim{background-image: url("../imgs/note-d-dim.png");}

.note.e{background-image: url("../imgs/note-e.png");}
.note.emin{background-image: url("../imgs/note-e-min.png");}
.note.esus2{background-image: url("../imgs/note-e-sus2.png");}
.note.esus4{background-image: url("../imgs/note-e-sus4.png");}
.note.e7{background-image: url("../imgs/note-e7.png");}
.note.eM7{background-image: url("../imgs/note-eM7.png");}
.note.edim{background-image: url("../imgs/note-e-dim.png");}

.note.f{background-image: url("../imgs/note-f.png");}
.note.fmin{background-image: url("../imgs/note-f-min.png");}
.note.fsus2{background-image: url("../imgs/note-f-sus2.png");}
.note.fsus4{background-image: url("../imgs/note-f-sus4.png");}
.note.f7{background-image: url("../imgs/note-f7.png");}
.note.fM7{background-image: url("../imgs/note-fM7.png");}
.note.fdim{background-image: url("../imgs/note-f-dim.png");}

.note.g{background-image: url("../imgs/note-g.png");}
.note.gmin{background-image: url("../imgs/note-g-min.png");}
.note.gsus2{background-image: url("../imgs/note-g-sus2.png");}
.note.gsus4{background-image: url("../imgs/note-g-sus4.png");}
.note.g7{background-image: url("../imgs/note-g7.png");}
.note.gM7{background-image: url("../imgs/note-gM7.png");}
.note.gdim{background-image: url("../imgs/note-g-dim.png");}


select{
	background-color: A2B6BF;
	font-size:large;
	width:40%;
	text-align:center;
}

option{
	background-color: A2B6BF;
}
/*playback css*/
.hide{
	display:none;
}
.brownButton{/*change this to make playback controls change*/
	max-height:2.0em;
}
.rightBtns{
	float:right;
	padding-right:1.0em;
	padding-top:.8em;
}

