body{
	font-family:"Google PT Sans",Verdana,sans-serif;
}

#topBar{
	width: 95%;
	height: 20%;
	background-color:A2B6BF;
	padding: 2%;
}

#compositionArea{
	width:95%;
	height:75%;
	background-color:404A4E;
	padding: 2%;
}

#playback{
	height: 75%;
	padding-left:7%;
}

#songStructure{
	height: 25%;
	padding-left: 5%;
}

#instruments{
	height: 25%;
	padding-left:7%;
}

#titles{
	font-size:larger;
	padding-left: 5%;
	height: 75%;
}

#logo{
	width:10%;
	height:100%;
	display:block;
}

#first{
	width:75%;
}

#second{
	float:right;
	width: 90%
}

#third{
	float:right;
	width:25%;
}

#composition{
	width:75%;
	height:100%;
	background-color:#FFF;
	background-image:url(../imgs/CompositionBackground.png);
	overflow : auto;
}

#rhythm{
	width:23%;
	height: 100%;
	background-color:#999;
	float:right;
}

#addRhythm{
	background-color:#673E18;
	width:100%;
	height:100%;
	font-size:20px;
	color:white;
	
}

.note{
	height:173px;	
}

select{
	background-color: A2B6BF;
	font-size:large;
	width:40%;
	text-align:center;
}

option{
	background-color: A2B6BF;
}


