html,body{
	width:100%;
	height:100%;
	padding:0px;
	margin:0px;
	background-color:#FFFFFF;
	font-family:"Google PT Sans",Verdana,sans-serif;
}
div{
	padding:0px;
	margin:0px;
}
#topBar{
	width: 100%;
	height: 15%;
	background-color:A2B6BF;
}

#compositionArea{
	width:96%;
	height:78%;
	background-color:404A4E;
	padding: 2%;
}

#playback{
	height: 75%;
	padding-left:7%;
}

#songStructure{
	height: 25%;
	padding-left: 5%;
}

#instruments{
	height: 25%;
	padding-left:7%;
}

#titles{
	margin-top: 15px;
	font-size:larger;
	padding-left: 5%;
	margin-bottom: 20px;
}

#logo{
	background-image:url(../imgs/logo_dark.png);
	background-size:50px 75px;
	width:50px;
	height:75px;
	border:0px;
	margin:5px;
	margin-bottom:20px;
	cursor:pointer;
}

#first{
	width:75%;
}

#second{
	float:right;
	width: 90%
}

#third{
	float:right;
	width:25%;
}

#composition{
	width:75%;
	height:100%;
	background-color:#FFF;
	background-image:url(../imgs/CompositionBackground.png);
	overflow : auto;
}

#rhythm{
	width:23%;
	height: 100%;
	background-color:#999;
	float:right;
}

#addRhythm{
	background-color:#673E18;
	width:100%;
	height:100%;
	font-size:20px;
	color:white;
	
}

.note{
	display:inline-block;
	height:159px;
	width:144px;
	background: url("../imgs/note-blank.png") no-repeat;
	background-size: contain;
	cursor: pointer;
	margin: 10px 5px 5px;
}

.note.a{
	background-image: url("../imgs/note-a.png");
}

.note.b{
	background-image: url("../imgs/note-b.png");
}

.note.c{
	background-image: url("../imgs/note-c.png");
}

.note.d{
	background-image: url("../imgs/note-d.png");
}

.note.e{
	background-image: url("../imgs/note-e.png");
}

.note.f{
	background-image: url("../imgs/note-f.png");
}

.note.g{
	background-image: url("../imgs/note-g.png");
}


select{
	background-color: A2B6BF;
	font-size:large;
	width:40%;
	text-align:center;
}

option{
	background-color: A2B6BF;
}


