html,body{
	width:100%;
	height:100%;
	padding:0px;
	margin:0px;
	background-color:#FFFFFF;
	font-family:"Google PT Sans",Verdana,sans-serif;
}
div{
	padding:0px;
	margin:0px;
}
ul{
	margin:0px;
	padding: 0px;
}
.hide{
	display:none;
}
#logo{
	background-image:url(../imgs/logo_dark.png);
	background-size:50px 75px;
	width:50px;
	height:75px;
	border:0px;
	margin:5px;
	margin-bottom:20px;
}
.songIcon{
    width:14px;
    height:auto;
    margin-right:3px;
}
.song-title{
	position:relative;
	float:left;
}
.song-view{
	display:block;
	clear:both;
	margin-left:10px;
	margin-bottom:20px;
	padding-left:10px;
}
.song-view.selected{
	margin-bottom:15px;
	padding-top:10px;
	padding-bottom:10px;
}
.song-controls{
	padding-top:15px;
	display:inline-block;
	background-image:url(../imgs/notes.PNG);
	background-size:10px 15px;
	background-repeat:no-repeat;
	width:10px;
	height:15px;
	border:0px;
	margin:3px 8px 0 3px;
}
#songList{
	width:25%;
	height:100%;
	background-color:inherit;
	float:left;
	position:relative;
}
#songList .selected{
	background-color:#A2B6BF;
	border-top-left-radius:15px;
}
div.song-view{
	position:relative;
	padding:10px;
	height:50px;
}
.arrowDownBlue{
	position: absolute;
	right: 20px;
	top: 50%;
	margin-top: -15px;
	background:url(../imgs/button_arrow_down_blue.png) no-repeat;
	background-size:contain;
	width:30px;
	height:30px;
}
.song-view .songIcon{
	position: absolute;
	left: 15px;
	top: 50%;
	margin-top: -15px;
	background:url(../imgs/notes.PNG) no-repeat;
	background-size:contain;
	width:20px;
	height:30px;
	border:0px;
}
.song-view span{
	font-size: 	20px;
	position: absolute;
	left: 50px;
	top: 50%;
	margin-top: -10px;
	white-space: nowrap;
	width: 165px;
	overflow-x: hidden;
}
#songDetails{
	width:75%;
	height:100%;
	background-color:#A2B6BF;
	float:right;
}
#preSongDetails{
	width:75%;
	height:100%;
	background-color:#A2B6BF;
	float:right;
	position:relative;
}

#preSongDetails img{
	position:absolute;
	top:0; left:0; right:0; bottom:0;
    max-width:80%;
    max-height:80%;
    margin:auto;
}
#recordingList{
	width:50%;
	float:left;
}
#compositionList{
	width:50%;
	float:right;
}
#songList ul, #recordingList ul, #compositionList ul{
	list-style:none;
    cursor:pointer;
}
#recordingList h1, #compositionList h1{
	color:white;
}
#newSong{
	position:absolute;
	bottom: 20px;
	min-width:100px;
    width:50%;
    height:auto;
	left: 10%;
	/*margin-left: -80px;*/
}
#songArrowBtn{
    width:15%;
    padding-right: 20px;
    max-height:1em;
}
#songAddPopup{
	padding:10px;
	background:#a2b6bf;
}
#songNameInput{
	width:100%;
	height:45px;
	font-size:20px;
	text-align:center;
}
img.largeButton{
	max-height:48px;
	cursor:pointer;
}
input.default{
	color:gray;
	font-style:italic;
}

/*recording template styling*/
.recordingIcon{
	float:left;
	max-height:1em;
	margin-right:5px;
}
.recordingTitle{
	display:inline-block;
	width:80%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow:ellipsis;
}
.recordingArrowBtn{
	float:right;
	max-height:1em;
}