html,body{
	width:100%;
	height:100%;
	padding:0px;
	margin:0px;
	background-color:#FFFFFF;
	font-family:"Google PT Sans",Verdana,sans-serif;
}
div{
	padding:0px;
	margin:0px;
}
.hide{
	display:none;
}
#logo{
	background-image:url(../imgs/logo_dark.PNG);
	background-size:50px 75px;
	background-repeat:no-repeat;
	width:50px;
	height:75px;
	border:0px;
	margin:5px;
}
.songIcon{
	display:inline-block;
	background-image:url(../imgs/notes.PNG);
	background-size:10px 15px;
	background-repeat:no-repeat;
	width:10px;
	height:15px;
	border:0px;
	margin:3px;
	margin-bottom:0px;
}
#songList{
	width:25%;
	height:100%;
	background-color:inherit;
	float:left;
	position:relative;
}
#songList .selected{
	background-color:#A2B6BF;
}
#songDetails{
	padding:2%;
	width:71%;
	height:100%;
	background-color:#A2B6BF;
	float:right;
}
#preSongDetails{
	padding:2%;
	width:71%;
	height:100%;
	background-color:#A2B6BF;
	float:right;
}

#preSongDetails img{
    margin: auto;
    width:80%;
    margin-top:100px;
    display:block;
}
#recordingList{
	width:50%;
	float:left;
}
#compositionList{
	width:50%;
	float:right;
}
#songList ul, #recordingList ul{
	list-style:none;
        cursor:pointer;
}
#newSong{
	position:absolute;
	bottom: 20px;
        width:50%;
        height:5%;
	left: 50%;
	margin-left: -80px;
}
#songAddPopup{
	padding:10px;
	background:#a2b6bf;
}
#songNameInput{
	width: 100%;
	height: 45px;
	font-size: 20px;
	text-align: center;
}
img.largeButton{
	max-height: 40px;
	cursor: pointer;
}
input.default{
	color: gray;
	font-style: italic;
}