<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="../css/main_screen.css"/>
		<link rel="stylesheet" type="text/css" href="../css/colorbox.css"/>
        <script src="../lib/jquery-min-1-8-3.js"></script>
        <script src="../lib/jquery.colorbox-min.js"></script>
        <script src="../lib/underscore-min.js"></script>
        <script src="../lib/backbone-min.js"></script>
        <script src="../lib/backbone.localStorage-min.js"></script>
        <script src="../js/main_screen.js"></script>
        <script src="../js/recording_list.js"></script>
        <script src="../js/composition_list.js"></script>
        <script src="../js/song_list.js"></script>
    </head>
    <body>
        <div id="songList">
            <div id="logo"></div>
        	<ul >
        	</ul>

            <img id="newSong" class="largeButton" src="../imgs/button_new_song.png" />
			<!-- This contains the hidden content for the colorbox -->
			<div style='display:none'>
				<div id='songAddPopup'>
					<input class="default" type="text" id="songNameInput" value="New Song Name" />
					<br><br>
					<img id="songAddSave" src="../imgs/button_save.png" class="largeButton" />
					<img id="songAddCancel" src="../imgs/button_cancel.png" class="largeButton" />
				</div>
			</div>
        </div>
        <div id="songDetails">
        	<div id="recordingList">
				<h1>Recordings</h1>
                <img id="newRecording" class="largeButton" src="../imgs/button_new_recording.png" />
	        	<ul></ul>
        	</div>
        	<div id="compositionList">
				<h1>Compositions</h1>
				<img id="newComposition" class="largeButton" src="../imgs/button_new_composition.png" />
	        	<ul>
	        	</ul>
        	</div>
        </div>
        <div id="preSongDetails">   
            <img src="../imgs/logo_big.png" alt="logo">
        </div>
        <!--Underscore templates used by backbone-->
        <!--http://underscorejs.org/#template-->
        <script type="text/template" id="song-template">
            <div class="song-view <%if(selected)print("selected")%>">
        	   <div class='song-title'><img class="songIcon" src="../imgs/image_musical_notes.png"><%- title %>
                    <img id="songArrowBtn" src="../imgs/button_arrow_down_brown.png" align="right"/></div>
                <div class="song-controls <%if(!selected)print('hide')%>">
                    <img id="renameSong" src="../imgs/button_rename.png" width="85" height="30"/>
                    <img id="duplicateSong" src="../imgs/button_.png" width="30" height="30"/>
                    <img id="removeSong" src="../imgs/button_X_brown.png" width="30" height="30"/>
                </div>
            <div>
        </script>

        <script type="text/template" id="recording-template">
            <div class="recording1stLine">
                <img class="recordingIcon" src="../imgs/image_microphone.png">
                <span class="recordingTitle"><%- title %></span>
                <img class="recordingArrowBtn" src="../imgs/button_arrow_down_brown.png">
            </div>
            <div class="recordingOptions <%if(!selected)print('hide')%>">
            test
            </div>
        </script>

        <script type="text/template" id="composition-template">
            <%- title %>
        </script>
    </body>
    
</html>