<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="../css/main_screen.css"/>
		<link rel="stylesheet" type="text/css" href="../css/colorbox.css"/>
        <script src="../lib/jquery-min-1-8-3.js"></script>
        <script src="../lib/jquery.colorbox-min.js"></script>
        <script src="../lib/underscore-min.js"></script>
        <script src="../lib/backbone-min.js"></script>
        <script src="../lib/backbone.localStorage-min.js"></script>
        <script src="../js/main_screen.js"></script>
        <script src="../js/recording_list.js"></script>
        <script src="../js/song_list.js"></script>
        <script src="../js/composition_list.js"></script>
    </head>
    <body>
        <div id="songList">
            <div id="logo"></div>
        	<ul >
        	</ul>

            <img id="newSong" class="largeButton" src="../imgs/button_new_song.png" />
			<!-- This contains the hidden content for the colorbox -->
			<div style='display:none'>
				<div id='songAddPopup'>
					<input class="default" type="text" id="songNameInput" value="New Song Name" />
					<br><br>
					<img id="songAddSave" src="../imgs/button_save.png" class="largeButton" />
					<img id="songAddCancel" src="../imgs/button_cancel.png" class="largeButton" />
				</div>
			</div>
        </div>
        <div id="songDetails">
        	<div id="recordingList">
                <input id="newRecording" type="button" value="New Recording"/>
	        	<ul>
	        	</ul>        		
        	</div>
        	<div id="compositionList">
                <input id="newComposition" type="button" value="New Composition"/>
	        	<ul>
	        	</ul>
        	</div>
        </div>
        <div id="preSongDetails">   
            <img src="../imgs/logo_big.png" alt="logo">
        </div>
        <!--Underscore templates used by backbone-->
        <!--http://underscorejs.org/#template-->
        <script type="text/template" id="song-template">
            <div class="song-view <%if(selected)print("selected")%>">
        	   <div class="songIcon"></div><%- title %>
                <div <%if(!selected)print("class='hide'")%>>test stuff</div>
            <div>
        </script>

        <script type="text/template" id="recording-template">
            <%- title %>
        </script>

        <script type="text/template" id="composition-template">
            <%- title %>
        </script>
    </body>
    
</html>